*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
body {
    background-color: #151A26;
    background-image:url(../img/bodyForCinema.png)!important; 
    background-repeat: no-repeat;
    background-size: contain !important;
}

.main_film_wrapper {
    margin: 0 calc(14vw - 25px);
    margin-bottom: 61px;
    margin-top: 20px;
}
.main_film {
    display: flex;
    flex-direction: column;

}
.film_info_wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    gap: calc(2.25vw + 10.8px);
}
.left img{
    border-radius:13px;
    width: 395px;
    height: 100%;
}
.right {
    width:100%;
    margin-top: 21px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
}
.way_to_the_film{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    gap: calc(0.5vw + 5.4px);
}
.way_to_the_film a{
    text-decoration: none;
    font-family: 'Qanelas', sans-serif;
    font-size: 16px;
    font-weight: 500;
    color:gray;
}
.way_to_the_film a:hover{
    color:#FFFFFF;
    transition: 1s;
    cursor: pointer;
}
.title_film {
    display: flex;
    flex-direction: column;
    gap: 3px;
}
.title_film h1 {
    font-family: 'Qanelas', sans-serif;
    font-size: calc(2.93vw + 8.6px);
    font-weight: 900;
    line-height: 127.4%;
    color:#FFFFFF;
}
@media (max-width:1620px) {
    .title_film{
        font-size: calc(2.93vw + 4.6px);
    }
}
.title_film h3 {
    font-family: 'Qanelas', sans-serif;
    font-size: calc(0.31vw + 19px);
    font-weight: 500;
    line-height: 30.18px;
    color:#FFFFFF;
}
.diagrammas {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    gap: 13px;
}
.diagrammas_child {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.diagrammas_child span {
    font-family: 'Qanelas', sans-serif;
    font-size: 15px;
    font-weight: 500;
    line-height: 18.11px;
    text-align: center;
    color:#FFFFFF;
}
.pie {
    --p: 20;
    --b: 20px;
    --w: 80px;
    --c: #337AB7;    
    --f: #eee;
    
    width: var(--w);
    aspect-ratio: 1;
    position: relative;
    display: inline-grid;
    margin: 5px;
    place-content: center;
    font-size: 13px;
    font-weight: bold;
    font-family: sans-serif;
    color:#FFFFFF;
}
.pie:before,
.pie:after {
    content: "";
    position: absolute;
    border-radius: 50%;
}
.pie:before {
    inset: 0;
    background: radial-gradient(farthest-side, var(--c) 98%, #0000) top/var(--b) var(--b) no-repeat, conic-gradient(var(--c) calc(var(--p) * 1%), var(--f) 0);
    mask: radial-gradient(farthest-side, #0000 calc(99% - var(--b)), #000 calc(100% - var(--b)));
}
.pie:after {
    inset: calc(50% - var(--b) / 2);
    background: var(--c);
    transform: rotate(calc(var(--p) * 3.6deg)) translateY(calc(50% - var(--w) / 2));
}
.no-round:before {
    background-size:0 0,auto;
}
.no-round:after {
    content:none;
}
/* Анимация */
@property --p{
    syntax: '<number>';
    inherits: true;
    initial-value: 0;
}
.pieanimate {
    animation: p 1s .5s both;
}
@keyframes p {
    from{--p:0}
}
.right p{
    font-family: 'Qanelas', sans-serif;
    font-size: calc(0.31vw + 14px);
    font-weight: 500;
    line-height: 33.3px;
    text-align: left;
    color:#FFFFFF;
}
.watch_the_movie {
    margin-top: 10px;
    display: flex;
    flex-direction: row;
    align-items:center;
    gap: 37px;
}
.watch_the_movie button {
    background-color:transparent;
    width: 260px;
    height: calc(1.31vw + 45.8px);
    border:2px solid #FFFFFF;
    border-radius:5px;
    font-family: 'Qanelas', sans-serif;
    font-size: 18px;
    font-weight: 700;
    line-height: 29.97px;
    text-align: center;
    color:#FFFFFF;
    cursor: pointer;
}
@media(max-width:1000px) {
    .film_info_wrapper {
        flex-wrap: wrap;
    }
    .left img{
        border-radius:13px;
        width: 100%;
        height: 100%;
    }
    .watch_the_movie {
        flex-wrap: wrap;
        justify-content: center;
        align-items:center;
    }
    .right p{
        font-family: 'Qanelas', sans-serif;
        font-size: calc(0.31vw + 14px);
        font-weight: 500;
        line-height: 33.3px;
        text-align: center;
        color:#FFFFFF;
    }
    .diagrammas {
        justify-content: center;
        align-items:center;
    }
    .title_film {
        justify-content: center;
        align-items:center
    }
}
.raitings {
    margin-top: 26px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px;
}
.wrapper_progress {
    background-color:#111520;
    width: 185px;
    height: calc(1.5vw + 30.2px);
    border-radius: 5px;
    display: flex;
    flex-direction: row;
}
.indicator {
    padding: 5px;
    width: 85%;
    background-color:#2E6125;
    border-radius: 5px;
    display: flex;
    flex-direction: row;
    align-items:center;
    font-family: 'Qanelas', sans-serif;
    font-size: 12px;
    font-weight: 500;
}
.favorites {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    gap: 18px;
}
.favorites span {
    font-family: 'Qanelas', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 16.9px;
    color:#FFFFFF;
}
@media (max-width:900px) {
    .raitings {
        justify-content: center;
        align-items:center;
    }
}
.marks {
    width: calc(1.75vw + 24.4px);
    cursor: pointer;
    filter: brightness(50%); /* Затемняет изображение на 50% */
}
.marks:hover{
    transition: 0.5s;
    filter: brightness(100%); /* Затемняет изображение на 50% */
}
.dataOfFilm_wrapper {
    margin: 0 calc(14vw - 25px);
    margin-bottom: 61px;
    margin-top: 65px;
}
.info_wrapper {
    display: flex;
    flex-direction: row;
    gap: 100px;
}
.primary_info_1{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
}
.primary_info_1 div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: calc(0.56vw + 9.2px);
}
.primary_info_1 div h4 {
    font-family: 'Qanelas', sans-serif;
    font-size: calc(0.18vw + 14.4px);
    font-weight: 600;
    line-height: 22.01px;
    color:#FFFFFF;
    text-align: right;
}
.primary_info_1 div span {
    font-family: 'Qanelas', sans-serif;
    font-size: calc(0.18vw + 14.4px);
    font-weight: 500;
    line-height: 21.73px;
    color:#F2F60F;
    text-decoration: underline;
    text-align: right ;
}
.secondary_info {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(8, 1fr);
    gap:20px;
}
.secondary_info div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 50px;
}
.secondary_info div h4 {
    font-family: 'Qanelas', sans-serif;
    font-size: calc(0.18vw + 14.4px);
    font-weight: 600;
    line-height: 22.01px;
    color:#FFFFFF;
}
.secondary_info div span {
    font-family: 'Qanelas', sans-serif;
    font-size: calc(0.18vw + 14.4px);
    font-weight: 500;
    line-height: 21.73px;
    color:#F2F60F;
    text-decoration: underline;
    text-align: right ;
}
@media (max-width:800px) {
    .info_wrapper {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        gap: 20px;
    }
}

.actors_info {
    margin: 0 calc(14vw - 25px);
    margin-bottom: 61px;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
}
.main_rols {
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: space-between;
    flex-wrap: wrap;
}
.main_rols h1 {
    font-family: 'Qanelas', sans-serif;
    font-size: 65px;
    font-weight: 900;
    color:#FFFFFF;
}
.main_rols a {
    font-family: 'Qanelas', sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 27.26px;
    color:#FFFFFF;
    text-decoration: none;
}
.grid_actors {
    margin-top: 61px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 25px;
}
.grid_actors div {
    display: flex;
    flex-direction: column;
    gap:5px;
    
}
.grid_actors img {
    width: 100%;
    height: 100%;
}
.grid_actors h4{
    font-family: 'Qanelas', sans-serif;
    font-size: calc(0.25vw + 13.2px);
    font-weight: 700;
    line-height: 22.3px;
    color:#FFFFFF;
}
.grid_actors span {
    font-family: 'Qanelas', sans-serif;
    font-size: calc(0.12vw + 11.6px);
    line-height: 16.66px;
    text-align: left;
    color:gray;
}
.grid_actors a {
    font-family: 'Qanelas', sans-serif;
    font-size: calc(0.25vw + 11.2px);
    line-height: 19.04px;
    text-align: left;
    color:#F2F60F;
    text-decoration: none;
}
@media (max-width:1620px) {
    .grid_actors {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
    }
}
@media (max-width:700px) {
    .grid_actors {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 20px;
    }
    .main_rols {
        display: flex;
        flex-direction: column;
        align-items:center;
        justify-content: space-between;
        flex-wrap: wrap;
        gap: 10px;
    }
    .main_rols h1 {
        font-size: 20px;
    }
}
.premiers_wrapper {
    margin-top: calc(3.75vw + 18px);
    display: grid;
    grid-template-columns: repeat(9,1fr);
    gap: 15px;
    background-color: transparent;
    overflow: auto;
    padding: 10px;
}

.premiers_wrapper::-webkit-scrollbar {
    width: 100%;
    height: 5px;
}

.premiers_wrapper::-webkit-scrollbar-track {
    background: #383b45;
}

.premiers_wrapper::-webkit-scrollbar-thumb {
    background: #de1010;
    border-radius: 10px;
}
.premiers_wrapper a {
    width: calc(5.81vw + 47.4px);
    height: calc(2.5vw + 19px);
    font-size: calc(0.25vw + 10.2px);
    display: flex;
    flex-direction: row;
    align-items:center;
    justify-content: center;
    border-radius:10px;
    color:gray;
}
.premiers_wrapper a:hover {
    width: calc(5.81vw + 47.4px);
    height: calc(2.5vw + 19px);
    background-color:#3657CBCC;
    box-shadow: 0px 0px 15px 0px #3657CBCC;
    display: flex;
    flex-direction: row;
    align-items:center;
    border-radius:10px;
    color:#FFFFFF;
}

.open_movies {
    margin: 0 calc(14vw - 25px);
    margin-bottom: 61px;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.movie_side {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}
.movie_side h1 {
    font-family: 'Qanelas', sans-serif;
        font-size: calc(2.5vw + 7px);
        font-weight: 900;
        color:#FFFFFF;
}
.movie_side a {
    font-family: 'Qanelas', sans-serif;
        font-size: calc(0.43vw + 13.6px);
        font-weight: 700;
        line-height: 27.26px;
        text-align: left;
        text-decoration: none;
        color:gray;
        cursor: pointer;
}
.movie_side a:hover {
    color:#FFFFFF;
    transition: 1s;
}
.down_socials h3 {
    font-family: 'Qanelas', sans-serif;
    font-size: 35px;
    font-weight: 900;
    color: #FFFFFF;
}
@media (max-width:800px) {
    .movie_side {
        justify-content: space-between;
            align-items: center;
            gap: 10px;
    }
    .down_socials h3{
        font-size: 13px;
    }
}
.videos_of_films {
    border-radius: 13px;
    margin-top: calc(1.25vw + 6px);
}
.down_socials {
    margin-top: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.down_socials img {
    width: 116px;
    height: 14px;
}

.medals_wrapper {
    margin: 0 calc(14vw - 25px);
    margin-bottom: 61px;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.medals_navigation {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items:center;

}
.medals_navigation h2 {
    font-family: 'Qanelas', sans-serif;
    font-size: calc(2.5vw + 7px);
    font-weight: 900;
    color:#FFFFFF;
}
.medals_navigation a {
    font-size: calc(0.43vw + 13.6px);
    color:#FFFFFF;
    font-family: "Qanelas", sans-serif;
    text-decoration: none;
}
.nominations {
    overflow: auto;
    margin-top: 30px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 15px;
    padding: 10px;
}

.nominations::-webkit-scrollbar {
    width: 100%;
    height: 5px;
}

.nominations::-webkit-scrollbar-track {
    background: #383b45;
}

.nominations::-webkit-scrollbar-thumb {
    background: #de1010;
    border-radius: 10px;
}
.medal_card {
    background-color:#3657CB4D;
    border-radius:12px;
    padding: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items:center;
    gap: 26px;

}
@media (max-width:900px) {
    .medal_card {
        height: 125px;
    }
}

.medal {
    width: 189px;
    display: flex;
    flex-direction: column;
    gap: 3px;
}
@media (max-width:900px) {
    .medal_card img{
        width: 30px;
    }
}
.medal span:nth-child(1) {
    font-family: 'Qanelas', sans-serif;
    font-size: 14px;
    line-height: 16.66px;
    color:#FFFFFF;
}
.medal span:nth-child(2) {
    font-family: 'Qanelas', sans-serif;
    font-size: 14px;
    line-height: 16.66px;
    color:#F2F60F;
}
.medal span:nth-child(3) {
    font-family: 'Qanelas', sans-serif;
    font-size: 14px;
    line-height: 16.66px;
    color:rgb(103, 101, 101);
}
.posters_wrapper {
    margin: 0 calc(14vw - 25px);
    margin-bottom: 61px;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.posters_navigation {
    display: flex;
    flex-direction:row;
    justify-content:space-between;
    align-items:center;
}
.posters_navigation h2{
    font-family: 'Qanelas', sans-serif;
    font-size: calc(2.5vw + 17px);
    font-weight: 900;
    line-height: 127.4%;
    color:#FFFFFF;
}
@media(max-width:800px){
    .posters_navigation {
        justify-content: center;
        flex-wrap: wrap;
        gap: 10px;
    }
}
.posters_navigation a {
    font-family: 'Qanelas', sans-serif;
    font-size: calc(0.25vw + 17.2px);
    font-weight: 700;
    line-height: 27.26px;
    color:#FFFFFF;
    text-decoration: none;
}
.name_of_posters {
    font-family: 'Qanelas', sans-serif;
    font-size: calc(0.62vw + 13px);
    font-weight: 600;
    line-height: 30.58px;
    color:#FFFFFF;
}

.secondary_image {
    border-radius:12px;
    width: 100%;
    height:100%;
}

@media (max-width: 400px) {
    .splide__pagination {
        top: 200px !important;
        bottom: 0 !important;
    }
}
.stills_from_film {
    margin: 0 calc(14vw - 25px);
    margin-bottom: 61px;
    margin-top: 65px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.poster_grid {
    display: grid;
    grid-template-columns: repeat(3,1fr);

}
.poster_grid img:nth-child(1) {
    width: 702px;
    height: 463px;
    border-radius: 10px;    
}
.poster_grid img:nth-child(2){
    width: 339.39px;
    height: 462.91px;
    border-radius: 10px;
}
.poster_grid img:nth-child(3){
    width: 339.39px;
    height: 462.91px;
    border-radius: 10px;
}
.poster_grid img:nth-child(4){
    width: 339px;
    height: 463px;
    border-radius: 10px;
}
.poster_grid img:nth-child(5){
    width: 339.39px;
    height: 462.91px;
    border-radius: 10px;
}
.poster_grid img:nth-child(6){
    width: 701px;
    height: 463px;
    border-radius: 10px;
}
